@charset "utf-8";
/* CSS Document */



.main {
	position: relative;
	z-index: auto;
}

.param{

	border-radius: 10px;
	opacity: 1;
	background-color: rgba(255,255,255,0.7);
	color :rgba(201,69,57, 1);
	border-color: rgba(201,69,57, 1);
	border: solid;
	border-width: 3px;
	margin-top: 5%;
	margin-bottom: 15%;
	margin-left: 15%;
	margin-right: 15%;
	overflow: auto;
}

.param > * {
	position: relative;
	margin-left: 15px;
	border-radius: 5px;
	border-color: initial;

}


.form > label {
	margin-top: 5px;
	position: relative;
	margin-left: 10px;
	white-space: nowrap;
    display: inline-block;
    float: left;
    clear: left;
    width: 25%;
	height: 25px;
    text-align: right;
	}

.form > input {
	width:auto;
	margin-right : 15px;
	height: 25px;
	border-radius: 5px;
	margin-left: 10px;
	flex-wrap: nowrap;
	color: initial;
	display: inline-block;
  	float: left;
	width : 300px;

}

.form > select {
	border-style: inset;
	border-color: initial;
	height: 25px;
	border-radius: 5px;
	border-width: 2px;
	color: initial;
		margin-left: 10px;
	flex-wrap: nowrap;
	color: initial;
	display: inline-block;
  	float: left;
}
.param > h2 {
	position:relative;
	margin-top: 10px;
	text-align: center;
}

#dlc-type{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-right-width: 0px;
	display: inline-block;

	
}

#dlc{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-left-width: 1px;
	margin-left: -5px;
	width: 147px;
	
}

#POST-description {
	height : 50px;
	width: 300px;
	word-wrap: break-word;
	border-radius: 5px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;

	margin-left: 10px;
	flex-wrap: nowrap;
	color: grey;
	display: inline-block;
  	float: left;
	resize:none;
	margin-bottom: 10px;
}

.photo {
height : 200px;
width : 500px;


}
.form >img {
		width: 150px;
	max-height: 200px;
		display: inline-block;
  	float: left;
}
#file {
	display: inline-block;
  	float: left;
}
.valid {

	width : 100%;
	border: 0;
	line-height: 2.5;
	padding: 0px 0px;
	text-align: center;
 	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5px;
	background-color: rgba(16,33,114,1);
	background-image: linear-gradient(to top left,  rgba(0, 0, 0, .2),  rgba(0, 0, 0, .2) 30%,  rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),  inset -2px -2px 3px rgba(0, 0, 0, .6);
	white-space: nowrap;
    display: inline-block;
	margin-left: -7px;
	margin-top: 10px;
	margin-bottom: 10px;
	

}
.valid:hover {
	background-color: rgba(16,33,255,1.00);
}
.valid:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),  inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.astuce{
    float: left;
    margin : 10px;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    color:black;
    font-size : 16px;
}

.pic >input[type="file" i]{
    position: relative;
	margin-left: 10px;
	margin-top: 20%;
	height: 30px;
	width : 100px;
	border: 0;
	line-height: 2.5;
	padding: 0px 0px;
	text-align: center;
 	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5px;
	background-color: rgba(201,69,57, 1);
	background-image: linear-gradient(to top left,  rgba(0, 0, 0, .2),  rgba(0, 0, 0, .2) 30%,  rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),  inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.pic >input[type="file" i]{
	background-color: rgba(255,69,57, 1);
}
.pic >input[type="file" i]{
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),  inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 1000px){
	.param{
		margin-left: 2px;
		margin-right: 2px;

}
}

@media screen and (max-width: 650px){

.form > select{

	margin-top: 5px;
	position: relative;
	margin-left: 10px;
	white-space: nowrap;
    display: inline-block;
    float: left;
    clear: left;
    background-color:white;

	}

.form > input{
	margin-top: 5px;
	position: relative;
	margin-left: 10px;
	white-space: nowrap;
    display: inline-block;
    float: left;
    clear: left;
	}


.form > textarea{
	margin-top: 5px;
	position: relative;
	margin-left: 10px;
	white-space: nowrap;
    display: inline-block;
    float: left;
    clear: left;
	}

.form > label {
    text-align :left;
    }

	}


