@charset "utf-8";
/* CSS Document */

span.cls_004 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: bold;
	font-style: normal;
	text-decoration: none
}
div.cls_004 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: bold;
	font-style: normal;
	text-decoration: none
}
span.cls_003 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(200,69,56);
	font-weight: bold;
	font-style: normal;
	text-decoration: none
}
div.cls_003 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(200,69,56);
	font-weight: bold;
	font-style: normal;
	text-decoration: none
}
span.cls_002 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: normal;
	font-style: normal;
	text-decoration: none
}
div.cls_002 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: normal;
	font-style: normal;
	text-decoration: none
}
span.cls_005 {
	font-family: Arial, serif;
	font-size: 12px;
	color: rgb(15,32,114);
	font-weight: normal;
	font-style: normal;
	text-decoration: none
}
div.cls_005 {
    width : 20%;
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(255,255,255);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	background-color:rgba(200,69,56,0.1);
}
span.cls_006 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: normal;
	font-style: italic;
	text-decoration: none
}
div.cls_006 {
	font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: normal;
	font-style: italic;
	text-decoration: none
}
ul.cls_002 {
    font-family: Arial, serif;
	font-size: 16px;
	color: rgb(15,32,114);
	font-weight: normal;
	font-style: normal;
	text-decoration: none
}
div.boxes {
    display : flex;
}