{% extends "squelette.html" %}

{% block corps %}
<div class="main">
 <div class="param">
  <h2 style:>Ajouter un produit</h2>
  <br>
  <form class="form" action="" method="post">
  <label for="POST-name">Vous êtes :</label>
  <div class="container"></div>
  <input id="POST-name" type="text" name="nom" placeholder="Nom Prénom" maxlength="40">
  <br><br>
  <label for="POST-title">Produit ajouté :</label>
  <input id="POST-title" type="text" name="titre" placeholder="titre" maxlength="40">
    <br><br>
        <label for="POST-cat">Catégorie : </label>
	<select id="POST-cat" type="text" name="frais">
		<option value="frais">frais</option>
		<option value="sec">sec</option>
	</select>
   <br><br>
    <label for="dlc">A consommer : </label>
	<select name="dlc" id="dlc-type">
		<option value="avant le">avant le</option>
		<option value="de préférence avant le">de préférence avant le</option>
	</select>
	<input type="date" id="dlc" name="peremption">

	<br><br>
  <label for="POST-description">Description:</label>
  <textarea id="POST-description" type="text" name="desc" placeholder="facultatif, 150 caractères max" maxlength="150"></textarea>
  <br><br>
  <label for="POST-qty">Quantité :</label>

  <input class="POST-qty" type="number" name="quantity" value="1" min="1">

    <br><br>


<label>Photo :</label>
      <div class="photo">
           <label class="load" for="file">Charger</label>
          <input id="file" type="input"  accept="image/png, image/jpeg">
  <img src="{{ url_for('static', filename='img/upload.svg') }}"">
  	  <br><br>
	</div>
		  <button class="valid" type="submit" value="Enregistrer"> Valider </button>

</form>


	</div>







	</div>

<script type="text/javascript">
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
{% endblock %}
</body>
</html>
