<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="menu.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="liste.css">

<style>
	
	</style>

</head>
<body>
<div class="menu">
<div class="topnav" id="myTopnav">
  <a class="active" href="index.html"> <b>Partage ton frigo !</b></a>
    <a href="ajout.html">Ajouter un produit</a>
  <a href="demo.html">Qu'est-ce que c'est ?</a>
  <a href="how.html">Comment ça marche ?</a>
  <a href="#contact">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Chercher une denrée" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
	</div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
<i class="fa fa-bars"></i>
  </a>
</div>
</div>
<img  src="bas.PNG" style="position:fixed; bottom: 0px; right: 0px; opacity: 0.5; width:300px;">
<img  src="haut.PNG" style="position:fixed; top: 0px; left: 0px; opacity: 0.5; width:300px;">


<div class="main">
 <div class="param">
  <h2 style:>Denrées disponibles</h2>
  <label for="order">Trier par :</label>
  

	<select name="order" id="order">
		<option value="date+">date d'ajout croissante</option>
		<option value="date-">date d'ajout décroissante</option>
		<option value="dlc+">date de péremption croissante</option>
		<option value="dlc-">date de péremption décroissante</option>
		<option value="name">ordre alphabétique</option>
	</select>
	
	  <label for="filter">Filtrage :</label>

	<select name="filter" id="filter">
		<option value="none">aucun</option>
		<option value="sec">au sec</option>
		<option value="frais">au frais</option>
		<option value="ok">non périmé</option>
		<option value="perime">périmé</option>
	</select>
	
	</div>
	


	</div>


</body>
</html>
