<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

    <title>Partage ton frigo !</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}">


        {% block head %}{% endblock %}

</head>
<body>
<div class="menu">
<div class="topnav" id="myTopnav">
  <a class="active" href="/"> <i><b>Partage ton frigo !</b></i></a>
    <a href="add">Ajouter un produit</a>
  <a href="what">Qu'est-ce que c'est ?</a>
  <a href="how">Comment ça marche ?</a>
  <a href="admin">Administration</a>
  <div class="search-container">
    <form method="POST" action="./search">
      <input type="text" placeholder="Chercher une denrée" name="search">
      <button type="submit">🔍</button>
    </form>
	</div>
  <a href="javascript:void(0);" class="icon" onclick="menu()">
      <b>|||</b>
  </a>
</div>
</div>
    <img  src="{{ url_for('static', filename='img/bas.PNG') }}" style="position:fixed; bottom: 0px; right: 0px; opacity: 0.5; width:300px;">
<img  src="{{ url_for('static', filename='img/haut.PNG') }}" style="position:fixed; top: 0px; left: 0px; opacity: 0.5; width:300px;">

<script type="text/javascript">
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function menu() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function take(elem) {
    form=elem.parentNode;
    var q=form.getElementsByClassName("select")[0].value;
    var n=form.getElementsByClassName("name")[0].value;
  r=confirm("Êtes vous sûr de prendre "+q+" '"+n+"' ?");
  if(r){
    form.submit();
    }
   }

function discard(elem) {
    form=elem.parentNode;
    n=form.getElementsByClassName("name")[0].value;
  r=confirm("Êtes vous sûr de jeter '"+ n +"' ?");
  if(r){
    form.submit();
    }
}
function save(elem) {
    form=elem.parentNode;

  r=confirm("Êtes vous sûr d'ajouter cet aliment ?");
  if(r){
    document.getElementById("load").style.visibility="visible";
    document.getElementById("window").style.opacity="0.2";

    form.submit();
    }
   }


</script>

        {% block corps %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>

</html>
